<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5>Company Info</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-black">About Us</a></li>
            <li><a href="#" class="text-black">Career</a></li>
            <li><a href="#" class="text-black">We are hiring</a></li>
            <li><a href="#" class="text-black">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-black">About Us</a></li>
            <li><a href="#" class="text-black">Carrier</a></li>
            <li><a href="#" class="text-black">We are hiring</a></li>
            <li><a href="#" class="text-black">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Features</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-black">Business Marketing</a></li>
            <li><a href="#" class="text-black">User Analytic</a></li>
            <li><a href="#" class="text-black">Live Chat</a></li>
            <li><a href="#" class="text-black">Unlimited Support</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h5>Resources</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-black">IOS & Android</a></li>
            <li><a href="#" class="text-black">Watch a Demo</a></li>
            <li><a href="#" class="text-black">Customers</a></li>
            <li><a href="#" class="text-black">API</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Get In Touch</h5>
          <ul class="list-unstyled">
            <li>
              <img class="icon" src="../../assets/frontend-interview-assets/frontend-interview-assets/contact.svg" alt="">
              <a href="tel:+4805550103" class="text-black">(480) 555-0103</a>
            </li>
            <li>
              <img class="icon" src="../../assets/frontend-interview-assets/frontend-interview-assets/location.svg" alt="">
              <a href="#" class="text-black">4517 Washington Ave. Manchester, Kentucky 39495</a>
            </li>
            <li>
              <img class="icon" src="../../assets/frontend-interview-assets/frontend-interview-assets/email.svg" alt="">
              <a href="#" class="text-black">debra.holt&#64;gmail.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-3 d-flex justify-content-around align-items-center">
        <p>Made With Love by Figmaland All Right Reserved</p>
        <div>
          <img class="icon" src="../../assets/frontend-interview-assets/frontend-interview-assets/facebook.svg" alt="">
          <img class="icon" src="../../assets/frontend-interview-assets/frontend-interview-assets/instagram.svg" alt="">
          <img class="icon" src="../../assets/frontend-interview-assets/frontend-interview-assets/twitter.svg">
        </div>
      </div>
    </div>
  </footer>
  