<!-- <div class="container d-flex bg-light d-flex align-items-center"> -->
    <div class="d-flex flex-row justify-content-around align-items-center bg-light">
        <div class="d-flex flex-column justify-content-center">
            <h5 class="text-success">Welcome</h5>
            <h1>Best Learning <br> Opportunities</h1>
            <p>
                Our goal is to make online education work for everyone   
            </p>
            <div class="btn-group mt-3 gap-3">
                <button class="btn btn-successes btn-lg">Join Us</button>
                <button class="btn btn-outline-success btn-lg">Learn More</button>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <img class="img-img" src="../../assets/frontend-interview-assets/frontend-interview-assets/hero-cover-1.png" alt="Hero Image">
        </div>
    </div>
<!-- </div> -->